## Write an SQL query to report the name, population, and area of the big countries.

Return the result table in any order.

In [ ]:
```# Write your MySQL query statement below
SELECT name , population , area
FROM World
WHERE area >= 3000000 
Or population >= 25000000```